@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/*  폰트 */
.en2 {font-family: 'silk-serif/SilkLightitalic';}
.en3{font-family: 'NeueHaasDisplayLight';}
@font-face {
	font-family: 'NeueHaasDisplayRoman';
	src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
	font-family:'NeueHaasDisplayLight' ;
	src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
	font-family:'silk-serif/SilkLightitalic' ;
	src: url(../fonts/silk-serif/Silk\ Serif\ Light\ Italic.otf);
}


/* layout */
body{font-size: 16px; line-height: 1.6; transition: all .4s; font-family: 'NeueHaasDisplayRoman';}
.wrap{position: relative; margin: 0 auto ; overflow: hidden; background: #000 ; color: white; }


.menuOpen{display: none; transition: 0.3s;}

/* header */
header{width: 100%; position: fixed; left: 0; top: 0; background: rgba(0,0,0,0.5); z-index: 100; padding: 30px 60px; 
	box-sizing: border-box; display: flex; justify-content: space-between; transition: 0.3s;} 
header.active{transform: translateY(-100%);}
header .logo{color: white;}
header .gnb ul{display: flex; justify-content: space-between;}
header .gnb ul li{margin-left: 70px;}
header .gnb ul li a{display: block;}

/* gnb hover 효과 */
header .gnb ul li a .char{display: inline-block; position: relative; color: transparent; overflow: hidden;}
header .gnb ul li a .char:before ,header .gnb ul li a .char:after{position: absolute; left: 0; top: 0;opacity: 0.6; color: white;
content: attr(data-char); transition: transform 0.35s; transition-delay: calc(30ms *var(--char-index));}  /* data는 속성값을 가져오기 때문에 attr로  / 한글자씩 30ms 딜레이를 준다  */
header .gnb ul li a .char:before {transform: translateY(100%);  color: #CE8800;} 


/* hover 효과 */
header .gnb ul li :hover .char:before{transform: translateY(0%);opacity: 1;}
header .gnb ul li a:hover .char:after {transform: translateY(-100%);} 


/* visual */
.visual{width: 100%; height: 100vh; position: relative; padding-top: 125px; box-sizing: border-box; letter-spacing: -1px;}
.visual .inner .mainText{font-size: 3.7vw; font-weight: 400; line-height: 1.2; margin: 0px 0px 150px 60px; display: inline-block;}
.visual .inner .mainText .visualText{overflow: hidden;}
.visual .subText{margin-left: 20%;}
.visual .scroll{position: fixed;left: 60px; bottom: 40px;}
.visual .svgAni{position: absolute; top: 20%; right: 0%; width: 60%; transform: rotate(-0deg);}


/* splitting */
.visual .splitting .char{display: inline-block; animation: slide-up 1s cubic-bezier(.5,0,.5,1) both;animation-delay: calc(60ms *var(--char-index));}

.visual.motion .char{display: inline-block;
    animation:slide-up2 0.4s  cubic-bezier(.5,01,.5,1) both;
	animation-delay: calc(70ms * var(--char-index));
}
@keyframes slide-up{
	0%{transform: translateY(30px); opacity: 0;}
	80%{transform: translateY(30px); opacity: 0;}
}

/* .visual.motion .subText{animation-name: textAni4; animation-duration: 2.3s;} */
/* svg motion */
.visual.motion #svgAni01{stroke-dasharray:332; stroke-dashoffset:332; animation:  ani1 .5s linear .4s forwards;}
.visual.motion #svgAni02{stroke-dasharray:112; stroke-dashoffset:112; animation:  ani2 .3s linear .6s forwards;}
.visual.motion #svgAni03{stroke-dasharray:138; stroke-dashoffset:138; animation:  ani3 .5s linear .8s forwards;}
.visual.motion #svgAni04{stroke-dasharray:28; stroke-dashoffset:28; animation:  ani4 .5s linear .9s forwards;}
.visual.motion #svgAni05{stroke-dasharray:215; stroke-dashoffset:215; animation:  ani5 .5s linear 1.1s forwards;}
.visual.motion #svgAni06{stroke-dasharray:170; stroke-dashoffset:170; animation:  ani6 .5s linear 1.5s forwards;}
.visual.motion #svgAni07{stroke-dasharray:130; stroke-dashoffset:130; animation:  ani7 .5s linear 1.5s forwards;}
.visual.motion #svgAni08{stroke-dasharray:269; stroke-dashoffset:269; animation:  ani8 1s linear 1.7s forwards;}
.visual.motion #svgAni09{stroke-dasharray:25; stroke-dashoffset:25; animation:  ani9 .1s linear 1.8s forwards;}




@keyframes ani1{
0%{stroke-dashoffset:332;}
100%{stroke-dashoffset:0;}
}

@keyframes ani2{
0%{stroke-dashoffset:112;}
100%{stroke-dashoffset:0;}
}
@keyframes ani3{
	0%{stroke-dashoffset:138;}
	100%{stroke-dashoffset:0;}
}
@keyframes ani4{
0%{stroke-dashoffset:28;}
100%{stroke-dashoffset:0;}
}

@keyframes ani5{
0%{stroke-dashoffset:215;}
100%{stroke-dashoffset:0;}
}

@keyframes ani6{
0%{stroke-dashoffset:170;}
100%{stroke-dashoffset:0;}
}

@keyframes ani7{
0%{stroke-dashoffset:130;}
100%{stroke-dashoffset:0;}
}
@keyframes ani8{
0%{stroke-dashoffset:269;}
100%{stroke-dashoffset:0;}
}
@keyframes ani9{
0%{stroke-dashoffset:25;}
100%{stroke-dashoffset:0;}
}

/* con01 */
.con01 {width: 100vw; height: 100vh;position: relative;}
.con01 .videoWrap video{width: 100vw; height: 100vh; object-fit: cover; position: absolute; left: 0; top: 0;}
.con01 .title{position: absolute; width: 100%; text-align: center; left: 0; top: 50%; transform: translateY(-50%); color: white;}
.con01 .title .h2 span{display: block; letter-spacing: -1px; line-height: 1.2;}


/* motto */
.motto{width: 100%;height: 500px; padding: 500px  0; color: #0B0B0D;}
.motto .svgicon{width: 160px; box-sizing: border-box; margin: 0 auto;margin-bottom: 115px; display: block; }
.motto .svgicon a img{display:inline-block; width: 100%; }
.motto .mottotext{font-size: 3vw; text-align: center; }

/* cv */
.cv{width: 100%; height: 100vh; margin-bottom: 500px;}
.cv .cvWrap{width: 100%; display: flex;}
.cv .cvWrap .imgBox img{width: 880px; height: 1005px;}
.cv .cvWrap .icon {width: 100%;}
.cv .cvWrap .textBox {padding-left: 126px; padding-top: 35px; width: 100%; margin: 0 auto;}
.cv .cvWrap .textBox .textInner {overflow: hidden;}
.cv .cvWrap .textBox .textInner .title,.cv .cvWrap .textBox .title2{font-size: 70px; line-height: 1.1; }
.cv .cvWrap .textBox .text{font-size: 20px; line-height: -1;padding-bottom: 85px; box-sizing: border-box; line-height: 2; padding-top: 55px;}
.cv .cvWrap .textBox .icon img{width: 304px;}


/* splitting */
.cv .splitting .char{display: inline-block; animation: slide-up 1s cubic-bezier(.5,0,.5,1) both;animation-delay: calc(60ms *var(--char-index));}
@keyframes slide-up2{
	0%{transform: translateY(30px); opacity: 0;}
	30%{transform: translateY(30px); opacity: 0;}
}

.cv .cvWrap .textBox .textInner.motion .char{display: inline-block;
    animation:slide-up2 0.4s  cubic-bezier(.5,01,.5,1) both;
	animation-delay: calc(70ms * var(--char-index));
}



.motion .title p{animation-name: slide-up2; animation-duration: 1s;}


/* skill */
.skill{height: 100vh; }
.skill .textBox{width: 100%; padding:0 70px 90px;}
.skill .textBox .inner{overflow: hidden; height: 132px;line-height: 1.2;}
.skill .textBox .inner .text{font-size: 55px;}
.skill .textBox .inner .text.motion{animation: titleAni; animation-duration: 1.3s;}
.skill  ul{display: flex; }
.skill  ul li{width: 300px; margin-left: 50px; flex-shrink: 0!important;}
.skill  ul li .imgBox img{width: 100%;}
/* .skill .skillWrap .skillImg .prevArrow{background: red; display: inline-block; position: absolute;top: 50%; left: 0px;}
.skill .skillWrap .skillImg .nextArrow{background: green; display: inline-block;width: 10px; position: absolute; top: 50%; right: 0;} */
.skill .textBox .inner.motion .char{display: inline-block;
	animation:slide-up2 0.4s  cubic-bezier(.5,01,.5,1) both;
	animation-delay: calc(70ms * var(--char-index));
}



/* con02 */
.con02 .title{width: 100%; height: 100vh;font-size: 170px; line-height: 0.9; text-align: center; box-sizing: border-box; padding-top: 200px; box-sizing: border-box; }
.con02 .title .en2{font-size: 220px;}
.con02 .workList{width: 70%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; height: 100%; }
.con02 .workList li{width: 45%; margin-top: 200px;}
.con02 .workList li:nth-child(2n){margin-top: 0;}
.con02 .workList li a {display: block;}
.con02 .workList li a .imgBox img{width: 100%; height: 100%;object-fit: cover;}
.con02 .workList li a .textBox h3{font-size: 35px; font-weight: normal; margin-top: 20px 0 5px; }
.con02 .workList li a .textBox .info{display: flex; justify-content: space-between; color: #888;}

/* button제작 */
.con02 .workList li a .imgBox{position: relative; width: 100%; height: 100%;}
.con02 .workList li a .imgBox::before{content:''; width: 168px; height: 168px; border-radius: 100%; border: 1px solid #fff; background: url(../images/readMore2.png) no-repeat center/35px; position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%) rotate(45deg); transition: all 0.4s; z-index: 1; opacity: 0;}


.con02 .workList li a .imgBox::after {content: '';width: 0px;height: 0px;border-radius: 100%; background: #fff url(../images/readMore3.png)no-repeat center/160px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);transition: .4s;z-index: 1;animation-name: spin;animation-duration: 10s;animation-iteration-count: infinite; animation-timing-function: linear;}


@keyframes spin{
	0%{transform:  translate(-50%,-50%) rotate(0deg) ;}
	100%{transform: translate(-50%,-50%) rotate(360deg) ;}
}

/* button hovere 효과 */

.con02 .workList li a:hover .imgBox::before{opacity: 1; z-index: 2;}
.con02 .workList li a:hover .imgBox::after{width: 168px; height: 168px;}
.con02 .workList li a:hover .imgBox img{filter: brightness(50%);}


/* con03 */
.con03 {width: 100%; height: 100vh; position: relative; margin-top: 200px; box-sizing: border-box;}
.con03 .textWrap{ width: 70%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: 2;}
.con03 .textWrap .title{font-size: 18px;}
.con03 .textWrap ul li{font-size: 100px; line-height: 1.2;}
.con03 .textWrap ul li .en2{padding-left: 5px;}

/* read more button 만들기 */
.con03 .btnWrap{position: absolute; right: 0%; top: 60%; z-index: 3;}
.con03 .btnWrap a{display: block; width: 170px; height: 170px; border-radius: 100%; border: 2px solid #fff; position: relative; box-sizing: border-box; transition: all .5s;}
.con03 .btnWrap a img{width: 25%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg);}
.con03 .btnWrap a img:nth-child(2){opacity: 0;}
.con03 .btnWrap a::before{content: ''; width: 0px; height: 0px; border-radius: 100%; background: white url(../images/readMore3.png) no-repeat center/158px;
	position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);animation-name: spin; animation-duration: 10s;
	animation-iteration-count: infinite; animation-timing-function: linear;}
/* .con03 .btnWrap a:hover{border-color: transparent;}
.con03 .btnWrap a:hover img:nth-child(2){opacity: 1;}
.con03 .btnWrap a:hover::before{width: 100%; height: 100%;} */

/* simplyScroll */
.simply-scroll .simply-scroll-clip{overflow: hidden; transform: rotate(5deg) translate(150%,400px) scale(1.1); opacity: 0;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li{float: left; width: 400px; filter: brightness(50%);}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img{width:100% ;}

/* .con03에 motion이 붙을 때 */
.con03.motion .simply-scroll .simply-scroll-clip{transform: rotate(5deg) translate(0%,400px) scale(1.1); opacity: 1; transition: 1s; transition-delay: 1s;}
.con03.motion .btnWrap{right: 50%; transition: 1.2s;}
.con03.motion .textWrap ul li p{animation-name: textAni; animation-duration: 1.3s;}


@keyframes textAni{
	0%{opacity: 0;}
	30%{opacity: 0; transform: translate3d(0,90px,0) skewY(-10deg); transform-origin:top left;} /* origin은 애니메이션이 나오는 기준점을 잡아준 것 */
	
}

/* footer */
footer{width: 100%; height: 100vh; position: relative;}
footer .textBox{width: 1735px ; margin: 0 auto;background: red; }
footer .textBox .title{font-size: 55px; position: absolute; bottom: 419px;}
footer .textBox .email{font-size: 90px; position: absolute; right: 90px; bottom: 190px; width: 1000px; border-bottom: 3px solid #fff; line-height: 1.1;}
footer .textBox .tel{position: absolute; font-size: 30px; bottom: 83px;}
footer .textBox .sns{display: flex; font-size: 22px; position: absolute; bottom: 30px;}
footer .textBox .sns li{padding-left: 15px; box-sizing: border-box; width: 115px;}
footer .textBox .sns li a{display:inline-block;position: relative; }
footer .textBox .sns li a::after{content: '';height: 2px; width: 0;transition: all.5s; background: #CE8800; position: absolute;
top: 40px; left: 50%; transform: translateX(-50%);}
footer .textBox .sns li a:hover:after , footer .textBox .sns li a:focus:after{width: 100%;}

footer .arrow{width: 500px; position: absolute; left: 680px; bottom: 290px;} 
footer.motion #arrow{stroke-dasharray: 148; stroke-dashoffset: -148; animation: arrow .5s linear 1.5s forwards;}
footer.motion #arrow2{stroke-dasharray: 35; stroke-dashoffset: -35; animation: arrow2 .3s linear 1.8s forwards;}

@keyframes arrow{
	0%{stroke-dashoffset:148;}
	100%{stroke-dashoffset:0;}
}
@keyframes arrow2{
	0%{stroke-dashoffset:35;}
	100%{stroke-dashoffset:0;}
}
footer .inner .text span{display:inline; }
footer.motion #Line{stroke-dasharray: 1604; stroke-dashoffset: -1604; animation: Line .8s linear .8s forwards;}
footer .svgLine{width: 150px; position: absolute; bottom: 407px;left: 500px; display: inline-block; }

@keyframes Line{
	0%{stroke-dashoffset:1604;}
	100%{stroke-dashoffset:0;}
}

/* screen size 1500 */
@media screen and (max-width: 1500px){
.cv .cvWrap .imgBox img {width: 785px; height: 915px;}
.cv .cvWrap .textBox {font-size: 65px;}
.cv .cvWrap .textBox .title {font-size: 72px;}
.cv .cvWrap .textBox .text{font-size: 18px;}
.cv .cvWrap .textBox .icon img {width: 260px;}
.cv .cvWrap .textBox .text{padding-bottom: 37px;}

footer .textBox .title{padding-left: 20px; box-sizing: border-box;font-size: 50px;}
footer .svgLine {left: 440px;}
footer .arrow{left: 625px; width: 485px;}
footer .textBox .email{width: 869px; font-size: 77px; right: 26px; bottom: 203px;}
footer .textBox .tel ,footer .textBox .sns {padding-left: 20px;}
}


/* screen size 1200  */
@media screen and (max-width: 1200px){
.visual .mainText{font-size: 55px;}
.visual .svgAni {top: 32%; right: 5%; width: 73%; transform: rotate(7deg);}
.cv .cvWrap .imgBox img {width: 554px; height: 721px;}
.cv .cvWrap .textBox {padding-left: 54px; padding-top: 20px;}
.cv .cvWrap .textBox .title {font-size: 48px;}
.cv .cvWrap .textBox .text {font-size: 17px; padding-bottom: 29px;}
.cv .cvWrap .textBox .icon img  {display: none;}
.motto{margin: 0 auto;}
.cv {margin-bottom: 250px;}
.skill .textBox .text{font-size: 48px;}
.skill ul li{margin-left: 35px;}
.con02 .workList li a .textBox h3{font-size: 23px;}
.con02 .workList li a .textBox .info{font-size: 14px; }
.con03 .textWrap ul li {font-size: 82px;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img{width: 95%;}
footer .textBox .title {font-size: 34px; padding-left: 36px;}
footer .svgLine{left: 313px; width: 116px;}
footer .textBox .email{font-size: 54px; bottom: 253px; width: 607px; right: 52px;}
footer .arrow {width: 336px; left: 452px; bottom: 368px;}
footer .textBox .tel{font-size: 21px; padding-left: 36px; bottom: 152px;}
footer .textBox .sns{font-size: 17px; bottom: 114px;}
footer .textBox .sns li{width: 74px; padding-left: 30px;}
}




/* screen size 1300  */
@media screen and (max-width: 1300px){
	body{font-size: 14px;}
	.cv .cvWrap .imgBox img{width: 655px;}
	.cv .cvWrap .textBox{padding-left: 39px;}
	.cv .cvWrap .textBox .text{font-size: 16px;}
	.cv .cvWrap .textBox .text{padding-bottom: 73px;}
	.cv .cvWrap .textBox .textInner .title, .cv .cvWrap .textBox .title2{font-size: 67px;}
	.cv .cvWrap .imgBox img{width: 6550; height: 880px;}
	.cv{margin-bottom: 235px;}
	.visual .svgAni{top: 27%; right: 3%;width: 69%; transform: rotate(5deg);}
	footer .svgLine{left: 395px;}
	footer .arrow{left: 550px;}
	footer .textBox .email{right: -68px;}
	}



	/* screen size 1024  */
@media screen and (max-width: 1024px){
	body{font-size: 14px;}
	.con02 .workList li a .textBox .info p .mo{display:none;}
	.visual .svgAni{width: 77%;}
	.visual .svgAni{width: 724px; height: 720px;}
	.cv{margin-bottom: 0;}
	.cv .cvWrap .imgBox img{width: 503px; height: 576px;}
	.cv .cvWrap .textBox .textInner .title, .cv .cvWrap .textBox .title2 {font-size: 48px;}
	.motto{padding: 350px 0;}
	.skill .textBox .inner .text {font-size: 50px;}
	.skill ul li {width: 247px;}
	.con03 .textWrap ul li{font-size: 70px;}
	.cv .cvWrap .textBox{padding-left: 28px;}
	/* footer{height: 600px;}
	footer .textBox .title{bottom: 300px;}
	footer .textBox .email {bottom: 128px;}
	footer .svgLine{left: 286px; bottom: 294px;}
	footer .textBox .email{right: 19px;}
	footer .arrow{bottom: 205px; left: 423px;} */
	footer{height: 500px;}
	footer .arrow {display: none;}
	footer .svgLine{left: 624px; bottom: 348px;}
	footer .textBox .title {bottom: 366px; text-align: center; padding-left: 0; width: 100%; font-size: 50px;line-height: 1.1;}
	
	footer .textBox .email {width: 684px;right: 166px; bottom: 167px; font-weight: bold; font-size: 70px;}
	footer .textBox .tel {bottom: 60px; padding-left: 0; left: 370px; font-size: 30px;}
	footer .textBox .sns{bottom: 20px; padding-left: 0; left: 370px; font-size: 22px;}
	footer .textBox .sns li{width: 115px; padding-left: 15px;}
	footer .textBox .sns li a::after {top: 30px;}
	footer .svgLine{width: 150px;}
	}

		/* screen size 800  */
@media screen and (max-width: 800px){
header{padding: 16px 60px;}
header .gnb ul li {margin-left: 55px;}
.visual .inner .mainText {font-size: 4.7vw;}
.visual .svgAni{top: 192px; transform: rotate(8deg);}
.cv .cvWrap .imgBox img{width: 377px; height: 510px;}
.cv .cvWrap .textBox .textInner .title, .cv .cvWrap .textBox .title2 {font-size: 43px;}
.cv .cvWrap .textBox .text {padding-top: 22px;}
.cv .cvWrap .textBox .text {font-size: 15px;}
.cv .cvWrap .textBox .text .mo{display: none;}
.motto{padding: 250px 0;}
.skill .textBox .inner .text{font-size: 43px;}
.skill .textBox {padding: 0 44px 54px;}
.skill ul{flex-wrap: wrap;}
.skill ul li{width: 214px; padding-bottom: 20px;}
.con02 .title {padding-top: 375px;}
.con02 .title{font-size: 155px;}
.con02 .title .en2{font-size: 195px;}
/* footer .arrow {width: 299px; left: 366px; bottom: 190px;}
footer .textBox .title {font-size: 30px;}
footer .textBox .email{font-size: 48px;}
footer .textBox .email {width: 471px;}
footer .svgLine{left: 255px; bottom: 285px; width: 99px;} */
footer .svgLine{left: 520px;}
footer .textBox .email {right: 45px;}
footer .textBox .tel{left: 255px;}
footer .textBox .sns {left: 260px;}
	}


			/* screen size 800  */
@media screen and (max-width: 500px){

header .gnb ul{display: none;}
.menuOpen{display: flex; transition: 0.3s;}
.menuOpen span{display: block; }
.menuOpen span.a{width: 30px; border-top: 2px solid #fff;}
.menuOpen span.b{width: 30px; border-bottom: 2px solid #fff; padding-top: 5px;}
header{padding: 16px 24px;}
.visual {padding-top: 325px;}
.visual .inner .mainText{margin: 0 0 150px 29px;}
.visual .svgAni{width: 370px; transform: rotate(11deg);right: 16%;top: 393px;}
.visual .inner .mainText{font-size: 5.9vw;}
.motto .mottotext {font-size: 5vw;}
.motto .svgicon a img {width: 83%;}
.cv .cvWrap .imgBox img {height: 564px;}
.cv{padding-bottom: 314px;}
.cv .cvWrap{display: block;}
.cv .cvWrap .imgBox img{width: 100%;}
.cv .cvWrap .textBox {padding-top: 42px;}
.skill .textBox .inner .text {font-size: 36px;}
.skill ul li {width: 189px;}
.con02 {height: 1000px;}
.con02 .title{padding-top: 700px;}
.con02 .workList li a .imgBox::before{display: none;}
.con02 .workList li a .imgBox::after{display: none;}
.con02 .workList li{margin-top: 0; margin-bottom: 55px;}
.con02 .workList li a .textBox h3{font-size: 17px;}
.con02 .workList li a .textBox .info {font-size: 13px;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img{width: 86%;}

.con03 .textWrap ul li {font-size: 58px;}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img{width: 75%;}


footer .svgLine{width: 95px; left: 314px; bottom: 306px;}
footer .textBox .email{font-size: 42px; right: 40px; width: 410px;}
footer .textBox .title{font-size: 30px; bottom: 322px;}
footer .arrow{display: none;}
footer .textBox .tel{left: 113px;}
footer .textBox .sns {left: 113px;}


	}




